adf-alc-eus-dev/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-alc-eus-dev"
		},
		"ls_gen2_stgalceusraw1dev_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ls_gen2_stgalceusraw1dev'"
		},
		"ls_sql_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_sql'"
		},
		"ls_gen2_stgalceusraw1dev_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stgalceusraw1dev.dfs.core.windows.net/"
		},
		"ls_testing_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stgalceusraw1dev.dfs.core.windows.net/"
		},
		"ls_testing_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "ac6d0bfb-0888-4ba4-8e1b-64368ebde8ff"
		},
		"ls_testing_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "bbe1fb4b-6318-4fb3-a877-daa5832ed16a"
		},
		"ls_keyVALUT_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://keyvalue-alc-eus-dev.vault.azure.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/COPY_SQL_SQL_DELTA_WITHOUT_TABLE_TYPE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_SQLTOSQL_TABLE_TYPE",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table ODS.std_details;",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_sql",
								"type": "DatasetReference",
								"parameters": {
									"schemaname": {
										"value": "dbo",
										"type": "Expression"
									},
									"tablename": {
										"value": "std_details",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sql",
								"type": "DatasetReference",
								"parameters": {
									"schemaname": {
										"value": "ODS",
										"type": "Expression"
									},
									"tablename": {
										"value": "std_details",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "ODSTOSQL",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy_SQLTOSQL_TABLE_TYPE",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ODS].[LOAD_STUDENT_DETAILS]"
						},
						"linkedServiceName": {
							"referenceName": "ls_sql",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "DELTA_ACTIVITIES"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-19T18:54:18Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_sql')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_sql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DELTA_USING_SP')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CSV_TO_STG_TABLE",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table STG.PERSONS;",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_stg_delimited",
								"type": "DatasetReference",
								"parameters": {
									"containername": {
										"value": "stg1container",
										"type": "Expression"
									},
									"foldername": {
										"value": "INPUT_DATAFILES",
										"type": "Expression"
									},
									"filename": {
										"value": "Persons.csv",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sql",
								"type": "DatasetReference",
								"parameters": {
									"schemaname": {
										"value": "STG",
										"type": "Expression"
									},
									"tablename": {
										"value": "PERSONS",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "SP_STG_TO_ODS",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CSV_TO_STG_TABLE",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[STG].[LOAD_PERSONS]"
						},
						"linkedServiceName": {
							"referenceName": "ls_sql",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP_ODS_MAIN",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SP_STG_TO_ODS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MAIN].[LOAD_PERSONS]"
						},
						"linkedServiceName": {
							"referenceName": "ls_sql",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "DELTA_ACTIVITIES"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-18T18:38:31Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_stg_delimited')]",
				"[concat(variables('factoryId'), '/datasets/ds_sql')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_sql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DELTA_USING_SP_AUDIT')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CSV_TO_STG_TABLE",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table STG.PERSONS;",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_stg_delimited",
								"type": "DatasetReference",
								"parameters": {
									"containername": {
										"value": "stg1container",
										"type": "Expression"
									},
									"foldername": {
										"value": "INPUT_DATAFILES",
										"type": "Expression"
									},
									"filename": {
										"value": "Persons.csv",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sql",
								"type": "DatasetReference",
								"parameters": {
									"schemaname": {
										"value": "STG",
										"type": "Expression"
									},
									"tablename": {
										"value": "PERSONS",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Log_Audit_Success",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CSV_TO_STG_TABLE",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AUDIT].[UPDATE_AUDIT_INFO]",
							"storedProcedureParameters": {
								"ENDTIME": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"JOBNAME": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"SOURCE_COUNT": {
									"value": {
										"value": "@activity('CSV_TO_STG_TABLE').output.rowsRead",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"SOURCE_DATAPATH": {
									"value": {
										"value": "stg1container_INPUT_DATAFILES_Persons",
										"type": "Expression"
									},
									"type": "String"
								},
								"STARTTIME": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"TARGET_COUNT": {
									"value": {
										"value": "@activity('CSV_TO_STG_TABLE').output.rowsCopied",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"TARGET_DATAPATH": {
									"value": "STG_PERSONS",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_sql",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP_STG_TO_ODS",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Log_Audit_Success",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[STG].[LOAD_PERSONS]"
						},
						"linkedServiceName": {
							"referenceName": "ls_sql",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP_ODS_MAIN",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SP_STG_TO_ODS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MAIN].[LOAD_PERSONS]"
						},
						"linkedServiceName": {
							"referenceName": "ls_sql",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Log Audit_Fails",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CSV_TO_STG_TABLE",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AUDIT].[UPDATE_AUDIT_INFO]",
							"storedProcedureParameters": {
								"ENDTIME": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"JOBNAME": {
									"value": "MovingDataFromCSVTOSQL",
									"type": "String"
								},
								"SOURCE_COUNT": {
									"value": {
										"value": "@activity('CSV_TO_STG_TABLE').output.rowsRead",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"SOURCE_DATAPATH": {
									"value": {
										"value": "stg1container_INPUT_DATAFILES_Persons",
										"type": "Expression"
									},
									"type": "String"
								},
								"STARTTIME": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"TARGET_COUNT": {
									"value": {
										"value": "@activity('CSV_TO_STG_TABLE').output.rowsCopied",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"TARGET_DATAPATH": {
									"value": "STG_PERSONS",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_sql",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "DELTA_ACTIVITIES"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-19T18:58:40Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_stg_delimited')]",
				"[concat(variables('factoryId'), '/datasets/ds_sql')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_sql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DELTA_USING_TABLE_TYPE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_SQLTOSQL_TABLE_TYPE",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"sqlWriterStoredProcedureName": "[[MAIN].[LOAD_STD_DETAILS]",
								"sqlWriterTableType": {
									"value": "[[MAIN].[STD_TYPE]",
									"type": "Expression"
								},
								"storedProcedureTableTypeParameterName": {
									"value": "STDDETAILS",
									"type": "Expression"
								},
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_sql",
								"type": "DatasetReference",
								"parameters": {
									"schemaname": {
										"value": "dbo",
										"type": "Expression"
									},
									"tablename": {
										"value": "std_details",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sql",
								"type": "DatasetReference",
								"parameters": {
									"schemaname": "NA",
									"tablename": "NA"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "DELTA_ACTIVITIES"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-18T16:24:24Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_sql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/copy_STG_to_SQL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CSV_TO_STG_TABLE",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table STG.PERSONS;",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_stg_delimited",
								"type": "DatasetReference",
								"parameters": {
									"containername": {
										"value": "stg1container",
										"type": "Expression"
									},
									"foldername": {
										"value": "INPUT_DATAFILES",
										"type": "Expression"
									},
									"filename": {
										"value": "Persons.csv",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sql",
								"type": "DatasetReference",
								"parameters": {
									"schemaname": {
										"value": "STG",
										"type": "Expression"
									},
									"tablename": {
										"value": "PERSONS",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-01-17T19:43:19Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_stg_delimited')]",
				"[concat(variables('factoryId'), '/datasets/ds_sql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_testing",
								"type": "DatasetReference",
								"parameters": {
									"continername": {
										"value": "stg1container",
										"type": "Expression"
									},
									"foldername": {
										"value": "INPUT_DATAFILES",
										"type": "Expression"
									},
									"filename": {
										"value": "Organizations.csv",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_testing",
								"type": "DatasetReference",
								"parameters": {
									"continername": {
										"value": "stg1container",
										"type": "Expression"
									},
									"foldername": {
										"value": "archive",
										"type": "Expression"
									},
									"filename": {
										"value": "Organizations.csv",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-01-21T18:33:39Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_testing')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_dynamic_copy_activity_reads')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_SQL_ODS_MAIN",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "truncate table [ODS].[PERSONS];\nselect * from [STG].[PERSONS] where sex='MALE'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_sql",
								"type": "DatasetReference",
								"parameters": {
									"schemaname": {
										"value": "ODS",
										"type": "Expression"
									},
									"tablename": {
										"value": "PERSONS",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sql",
								"type": "DatasetReference",
								"parameters": {
									"schemaname": {
										"value": "ODS",
										"type": "Expression"
									},
									"tablename": {
										"value": "PERSONS",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Log Audit",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy_SQL_ODS_MAIN",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AUDIT].[UPDATE_AUDIT_INFO]",
							"storedProcedureParameters": {
								"ENDTIME": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"JOBNAME": {
									"value": "MovingDataFromCSVTOSQL",
									"type": "String"
								},
								"SOURCE_COUNT": {
									"value": {
										"value": "@activity('Copy_SQL_ODS_MAIN').output.rowsRead",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"SOURCE_DATAPATH": {
									"value": {
										"value": "stg1container_INPUT_DATAFILES_Persons",
										"type": "Expression"
									},
									"type": "String"
								},
								"STARTTIME": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"TARGET_COUNT": {
									"value": {
										"value": "@activity('Copy_SQL_ODS_MAIN').output.rowsCopied",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"TARGET_DATAPATH": {
									"value": "STG_PERSONS",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_sql",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "DELTA_ACTIVITIES"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-18T17:28:49Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_sql')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_sql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_dynamic_copy_activity_testing_sp')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_SQL_ODS_MAIN",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[MAIN].[LOAD_PERSONS]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_sql",
								"type": "DatasetReference",
								"parameters": {
									"schemaname": {
										"value": "ODS",
										"type": "Expression"
									},
									"tablename": {
										"value": "PERSONS",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sql",
								"type": "DatasetReference",
								"parameters": {
									"schemaname": {
										"value": "MAIN",
										"type": "Expression"
									},
									"tablename": {
										"value": "PERSONS",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-01-17T19:43:19Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_sql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sql')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"schemaname": {
						"type": "string"
					},
					"tablename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().schemaname",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().tablename",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_stg_delimited')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_gen2_stgalceusraw1dev",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"containername": {
						"type": "string"
					},
					"foldername": {
						"type": "string"
					},
					"filename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().foldername",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().containername",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_gen2_stgalceusraw1dev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_testing')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_testing",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"continername": {
						"type": "string"
					},
					"foldername": {
						"type": "string"
					},
					"filename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().foldername",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().continername",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_testing')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_gen2_stgalceusraw1dev')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_gen2_stgalceusraw1dev_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ls_gen2_stgalceusraw1dev_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_sql')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('ls_sql_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_testing')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_testing_properties_typeProperties_url')]",
					"tenant": "[parameters('ls_testing_properties_typeProperties_tenant')]",
					"servicePrincipalId": "[parameters('ls_testing_properties_typeProperties_servicePrincipalId')]",
					"servicePrincipalCredentialType": "ServicePrincipalCert",
					"servicePrincipalCredential": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "ls_keyVALUT",
							"type": "LinkedServiceReference"
						},
						"secretName": "spnsecrect"
					}
				},
				"connectVia": {
					"referenceName": "shir-alc-eus-dev",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/shir-alc-eus-dev')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_keyVALUT')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/shir-alc-eus-dev')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_keyVALUT')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('ls_keyVALUT_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_move')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "raw",
									"wildcardFileName": "*.json",
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_binary",
								"type": "DatasetReference",
								"parameters": {
									"containername": "stg1container",
									"foldername": "raw",
									"filename": "*.json"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_binary",
								"type": "DatasetReference",
								"parameters": {
									"containername": "stg1container",
									"foldername": "archive",
									"filename": {
										"value": "@pipeline().parameters.dummyfilename",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"dummyfilename": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_binary')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_binary')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_gen2_stgalceusraw1dev",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"containername": {
						"type": "string"
					},
					"foldername": {
						"type": "string"
					},
					"filename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_gen2_stgalceusraw1dev')]"
			]
		}
	]
}