adf-alc-eus-dev/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-alc-eus-dev"
		},
		"ls_databricks_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'ls_databricks'"
		},
		"ls_df_sql_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_df_sql'"
		},
		"ls_gen2_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ls_gen2'"
		},
		"ls_gen2_df_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ls_gen2_df'"
		},
		"ls_sql_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_sql'"
		},
		"ls_azure_key_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://keyvalut-alc-dev.vault.azure.net/"
		},
		"ls_databricks_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0206-162521-qge42v57"
		},
		"ls_gen2_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stgalceusraw1dev.dfs.core.windows.net/"
		},
		"ls_gen2_df_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stgalceusraw1dev.dfs.core.windows.net/"
		},
		"ls_gen2_stgalceusraw1dev_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stgalceusraw1dev.dfs.core.windows.net/"
		},
		"ls_gen2_stgalceusraw1dev_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "ac6d0bfb-0888-4ba4-8e1b-64368ebde8ff"
		},
		"ls_gen2_stgalceusraw1dev_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "a4d0a191-86c1-4f21-ab13-450bca78e778"
		},
		"ls_keyVALUT_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://keyvalue-alc-eus-dev.vault.azure.net/"
		},
		"ls_testing_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stgalceusraw1dev.dfs.core.windows.net/"
		},
		"ls_testing_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "ac6d0bfb-0888-4ba4-8e1b-64368ebde8ff"
		},
		"ls_testing_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "bbe1fb4b-6318-4fb3-a877-daa5832ed16a"
		},
		"blob_created_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/390c249f-2450-4238-9b6d-db88b756fb45/resourceGroups/rg_alc_eus_dev/providers/Microsoft.Storage/storageAccounts/stgalceusraw1dev"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/COPY_SQL_SQL_DELTA_WITHOUT_TABLE_TYPE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_SQLTOSQL_TABLE_TYPE",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table ODS.std_details;",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_sql",
								"type": "DatasetReference",
								"parameters": {
									"schemaname": {
										"value": "dbo",
										"type": "Expression"
									},
									"tablename": {
										"value": "std_details",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sql",
								"type": "DatasetReference",
								"parameters": {
									"schemaname": {
										"value": "ODS",
										"type": "Expression"
									},
									"tablename": {
										"value": "std_details",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "ODSTOSQL",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy_SQLTOSQL_TABLE_TYPE",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ODS].[LOAD_STUDENT_DETAILS]"
						},
						"linkedServiceName": {
							"referenceName": "ls_sql",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "DELTA_ACTIVITIES"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-19T18:54:18Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_sql')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_sql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DELTA_USING_SP')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CSV_TO_STG_TABLE",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table STG.PERSONS;",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_stg_delimited",
								"type": "DatasetReference",
								"parameters": {
									"containername": {
										"value": "stg1container",
										"type": "Expression"
									},
									"foldername": {
										"value": "INPUT_DATAFILES",
										"type": "Expression"
									},
									"filename": {
										"value": "Persons.csv",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sql",
								"type": "DatasetReference",
								"parameters": {
									"schemaname": {
										"value": "STG",
										"type": "Expression"
									},
									"tablename": {
										"value": "PERSONS",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "SP_STG_TO_ODS",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CSV_TO_STG_TABLE",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[STG].[LOAD_PERSONS]"
						},
						"linkedServiceName": {
							"referenceName": "ls_sql",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP_ODS_MAIN",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SP_STG_TO_ODS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MAIN].[LOAD_PERSONS]"
						},
						"linkedServiceName": {
							"referenceName": "ls_sql",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "DELTA_ACTIVITIES"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-18T18:38:31Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_stg_delimited')]",
				"[concat(variables('factoryId'), '/datasets/ds_sql')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_sql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DELTA_USING_SP_AUDIT')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CSV_TO_STG_TABLE",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table STG.PERSONS;",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_stg_delimited",
								"type": "DatasetReference",
								"parameters": {
									"containername": {
										"value": "stg1container",
										"type": "Expression"
									},
									"foldername": {
										"value": "INPUT_DATAFILES",
										"type": "Expression"
									},
									"filename": {
										"value": "Persons.csv",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sql",
								"type": "DatasetReference",
								"parameters": {
									"schemaname": {
										"value": "STG",
										"type": "Expression"
									},
									"tablename": {
										"value": "PERSONS",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Log_Audit_Success",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CSV_TO_STG_TABLE",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AUDIT].[UPDATE_AUDIT_INFO]",
							"storedProcedureParameters": {
								"ENDTIME": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"JOBNAME": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"SOURCE_COUNT": {
									"value": {
										"value": "@activity('CSV_TO_STG_TABLE').output.rowsRead",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"SOURCE_DATAPATH": {
									"value": {
										"value": "stg1container_INPUT_DATAFILES_Persons",
										"type": "Expression"
									},
									"type": "String"
								},
								"STARTTIME": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"TARGET_COUNT": {
									"value": {
										"value": "@activity('CSV_TO_STG_TABLE').output.rowsCopied",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"TARGET_DATAPATH": {
									"value": "STG_PERSONS",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_sql",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP_STG_TO_ODS",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Log_Audit_Success",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[STG].[LOAD_PERSONS]"
						},
						"linkedServiceName": {
							"referenceName": "ls_sql",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP_ODS_MAIN",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SP_STG_TO_ODS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MAIN].[LOAD_PERSONS]"
						},
						"linkedServiceName": {
							"referenceName": "ls_sql",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Log Audit_Fails",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CSV_TO_STG_TABLE",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AUDIT].[UPDATE_AUDIT_INFO]",
							"storedProcedureParameters": {
								"ENDTIME": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"JOBNAME": {
									"value": "MovingDataFromCSVTOSQL",
									"type": "String"
								},
								"SOURCE_COUNT": {
									"value": {
										"value": "@activity('CSV_TO_STG_TABLE').output.rowsRead",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"SOURCE_DATAPATH": {
									"value": {
										"value": "stg1container_INPUT_DATAFILES_Persons",
										"type": "Expression"
									},
									"type": "String"
								},
								"STARTTIME": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"TARGET_COUNT": {
									"value": {
										"value": "@activity('CSV_TO_STG_TABLE').output.rowsCopied",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"TARGET_DATAPATH": {
									"value": "STG_PERSONS",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_sql",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "DELTA_ACTIVITIES"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-19T18:58:40Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_stg_delimited')]",
				"[concat(variables('factoryId'), '/datasets/ds_sql')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_sql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DELTA_USING_TABLE_TYPE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_SQLTOSQL_TABLE_TYPE",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"sqlWriterStoredProcedureName": "[[MAIN].[LOAD_STD_DETAILS]",
								"sqlWriterTableType": {
									"value": "[[MAIN].[STD_TYPE]",
									"type": "Expression"
								},
								"storedProcedureTableTypeParameterName": {
									"value": "STDDETAILS",
									"type": "Expression"
								},
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_sql",
								"type": "DatasetReference",
								"parameters": {
									"schemaname": {
										"value": "dbo",
										"type": "Expression"
									},
									"tablename": {
										"value": "std_details",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sql",
								"type": "DatasetReference",
								"parameters": {
									"schemaname": "NA",
									"tablename": "NA"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "DELTA_ACTIVITIES"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-18T16:24:24Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_sql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/copy_STG_to_SQL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CSV_TO_STG_TABLE",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table STG.PERSONS;",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_stg_delimited",
								"type": "DatasetReference",
								"parameters": {
									"containername": {
										"value": "stg1container",
										"type": "Expression"
									},
									"foldername": {
										"value": "INPUT_DATAFILES",
										"type": "Expression"
									},
									"filename": {
										"value": "Persons.csv",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sql",
								"type": "DatasetReference",
								"parameters": {
									"schemaname": {
										"value": "STG",
										"type": "Expression"
									},
									"tablename": {
										"value": "PERSONS",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "DELTA_ACTIVITIES"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-17T19:43:19Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_stg_delimited')]",
				"[concat(variables('factoryId'), '/datasets/ds_sql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_testing",
								"type": "DatasetReference",
								"parameters": {
									"continername": {
										"value": "stg1container",
										"type": "Expression"
									},
									"foldername": {
										"value": "INPUT_DATAFILES",
										"type": "Expression"
									},
									"filename": {
										"value": "Organizations.csv",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_testing",
								"type": "DatasetReference",
								"parameters": {
									"continername": {
										"value": "stg1container",
										"type": "Expression"
									},
									"foldername": {
										"value": "archive",
										"type": "Expression"
									},
									"filename": {
										"value": "Organizations.csv",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "DELTA_ACTIVITIES"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-21T18:33:39Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_testing')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "https://prod-83.eastus.logic.azure.com:443/workflows/1a6fc1ffcd6c46b3b5449c66298ad26b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=ZTsOiJbl9_n8CbCkpxJKuRXEOG052kbxnOoyyyNLauE",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {},
							"body": {
								"value": "{\"Country\":  \"US\",\n\"Email-ids\":  \"ravikumar.bakka@gmail.com\"\n}",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "DELTA_ACTIVITIES"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_dataflow')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow1",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"SourceEmployee": {},
									"SourceDeptNo": {},
									"deptsimsal": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "DELTA_ACTIVITIES"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/dataflow1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_dataflow2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "dataflow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow1",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"SourceEmployee": {},
									"SourceDeptNo": {},
									"deptsimsal": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "DELTA_ACTIVITIES"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/dataflow1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_dynamic_copy_activity_reads')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_SQL_ODS_MAIN",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "truncate table [ODS].[PERSONS];\nselect * from [STG].[PERSONS] where sex='MALE'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_sql",
								"type": "DatasetReference",
								"parameters": {
									"schemaname": {
										"value": "ODS",
										"type": "Expression"
									},
									"tablename": {
										"value": "PERSONS",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sql",
								"type": "DatasetReference",
								"parameters": {
									"schemaname": {
										"value": "ODS",
										"type": "Expression"
									},
									"tablename": {
										"value": "PERSONS",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Log Audit",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy_SQL_ODS_MAIN",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AUDIT].[UPDATE_AUDIT_INFO]",
							"storedProcedureParameters": {
								"ENDTIME": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"JOBNAME": {
									"value": "MovingDataFromCSVTOSQL",
									"type": "String"
								},
								"SOURCE_COUNT": {
									"value": {
										"value": "@activity('Copy_SQL_ODS_MAIN').output.rowsRead",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"SOURCE_DATAPATH": {
									"value": {
										"value": "stg1container_INPUT_DATAFILES_Persons",
										"type": "Expression"
									},
									"type": "String"
								},
								"STARTTIME": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"TARGET_COUNT": {
									"value": {
										"value": "@activity('Copy_SQL_ODS_MAIN').output.rowsCopied",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"TARGET_DATAPATH": {
									"value": "STG_PERSONS",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_sql",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "DELTA_ACTIVITIES"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-18T17:28:49Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_sql')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_sql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_dynamic_copy_activity_testing_sp')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_SQL_ODS_MAIN",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[MAIN].[LOAD_PERSONS]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_sql",
								"type": "DatasetReference",
								"parameters": {
									"schemaname": {
										"value": "ODS",
										"type": "Expression"
									},
									"tablename": {
										"value": "PERSONS",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sql",
								"type": "DatasetReference",
								"parameters": {
									"schemaname": {
										"value": "MAIN",
										"type": "Expression"
									},
									"tablename": {
										"value": "PERSONS",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "DELTA_ACTIVITIES"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-17T19:43:19Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_sql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_executable_project1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute Pipeline1",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_project1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Email Success Alert",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Execute Pipeline1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "https://prod-85.eastus.logic.azure.com:443/workflows/eea8a6fa6d9b489c80c16da99657979f/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=TG8sxcM1-vWRWV6XSSG18xQ8ca3iNhqQ5uueyOOyqb0",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {},
							"body": {
								"value": "{\"TO\":  \"ravikumar.bakka@gmail.com\",\n\"Body\":  \"Incremental Order dataq and Full Customer datamovenet is done\",\n\"SUBJECT\":  \"Customer and Order Data Movement is Successfull\"\n}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Email Success Alert_Failure",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Execute Pipeline1",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "https://prod-85.eastus.logic.azure.com:443/workflows/eea8a6fa6d9b489c80c16da99657979f/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=TG8sxcM1-vWRWV6XSSG18xQ8ca3iNhqQ5uueyOOyqb0",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {},
							"body": {
								"value": "{\"TO\":  \"ravikumar.bakka@gmail.com\",\n\"Body\":  \"ADF pipeline Failed\",\n\"SUBJECT\":  \"Everything is going Smooth\"\n}",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_project1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_json_data')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_json",
								"type": "DatasetReference",
								"parameters": {
									"filename": {
										"value": "sample-json-file-download.json",
										"type": "Expression"
									},
									"foldername": {
										"value": "json_f",
										"type": "Expression"
									},
									"containername": {
										"value": "stg1container",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_json",
								"type": "DatasetReference",
								"parameters": {
									"filename": {
										"value": "@pipeline().parameters.dfile",
										"type": "Expression"
									},
									"foldername": {
										"value": "json_f/output",
										"type": "Expression"
									},
									"containername": {
										"value": "stg1container",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"dfile": {
						"type": "string"
					}
				},
				"folder": {
					"name": "DELTA_ACTIVITIES"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_json')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_json_dataflow')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "dataflow3",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow3",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"djsondata": {},
									"datatoscsvortable": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "DELTA_ACTIVITIES"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/dataflow3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_json_testing')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['returnReference']"
										},
										"sink": {
											"name": "returnReference",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['orderReference']"
										},
										"sink": {
											"name": "orderReference",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['customerId']"
										},
										"sink": {
											"name": "customerId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['timestamp']"
										},
										"sink": {
											"name": "timestamp",
											"type": "String"
										}
									}
								],
								"collectionReference": ""
							}
						},
						"inputs": [
							{
								"referenceName": "ds_Json_testing",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sql",
								"type": "DatasetReference",
								"parameters": {
									"schemaname": "MAIN",
									"tablename": "dummyt"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "DELTA_ACTIVITIES"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_Json_testing')]",
				"[concat(variables('factoryId'), '/datasets/ds_sql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_metadata_copy_activity')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_sql",
								"type": "DatasetReference",
								"parameters": {
									"schemaname": {
										"value": "META",
										"type": "Expression"
									},
									"tablename": {
										"value": "DELTA",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_sql",
											"type": "DatasetReference",
											"parameters": {
												"schemaname": {
													"value": "@item().SOURCE_SCHEMA",
													"type": "Expression"
												},
												"tablename": {
													"value": "@item().SOURCE_T_NAME",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_sql",
											"type": "DatasetReference",
											"parameters": {
												"schemaname": {
													"value": "@item().TARGET_SCHEMA",
													"type": "Expression"
												},
												"tablename": {
													"value": "@item().TARGETT_T_NAME",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "DELTA_ACTIVITIES"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_sql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_move')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "raw",
									"wildcardFileName": "*",
									"deleteFilesAfterCompletion": true
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_binary",
								"type": "DatasetReference",
								"parameters": {
									"containername": {
										"value": "stg1container",
										"type": "Expression"
									},
									"foldername": {
										"value": "raw",
										"type": "Expression"
									},
									"filename": {
										"value": "Market1.csv",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_binary",
								"type": "DatasetReference",
								"parameters": {
									"containername": {
										"value": "stg1container",
										"type": "Expression"
									},
									"foldername": {
										"value": "archive",
										"type": "Expression"
									},
									"filename": {
										"value": "@pipeline().parameters.dummyfilename",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"dummyfilename": {
						"type": "string"
					}
				},
				"folder": {
					"name": "DELTA_ACTIVITIES"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_binary')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_notebook')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Notebook1",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/ravi.c.16209@gmail.com/exit",
							"baseParameters": {
								"Date": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_databricks",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "DELTA_ACTIVITIES"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_databricks')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_project1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_Source",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT max(InsertDateTime) as MaxSource\n  FROM [dbo].[orders]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_sql",
								"type": "DatasetReference",
								"parameters": {
									"schemaname": {
										"value": "NA",
										"type": "Expression"
									},
									"tablename": {
										"value": "NA",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Lookup_Target",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT LastReadDateandTime\n  FROM [META].[Watermark] where TableName='orders'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_sql",
								"type": "DatasetReference",
								"parameters": {
									"schemaname": {
										"value": "NA",
										"type": "Expression"
									},
									"tablename": {
										"value": "NA",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "DATA Movement",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Lookup_Source",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Lookup_Target",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT OrderID,ProductID,CustomerID,UnitPrice,Quantity,InsertDateTime FROM dbo.Orders\nWHERE\nInsertDateTime>'@{activity('Lookup_Target').output.firstRow.LastReadDateandTime}' AND\nInsertDateTime<='@{activity('Lookup_Source').output.firstRow.MaxSource}'",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_sql",
								"type": "DatasetReference",
								"parameters": {
									"schemaname": {
										"value": "dbo",
										"type": "Expression"
									},
									"tablename": {
										"value": "orders",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sql",
								"type": "DatasetReference",
								"parameters": {
									"schemaname": {
										"value": "MAIN",
										"type": "Expression"
									},
									"tablename": {
										"value": "orders",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Updating WaterMark",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Log Audit Success Details",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[UpdateWatermark]",
							"storedProcedureParameters": {
								"NewTime": {
									"value": {
										"value": "@{activity('Lookup_Source').output.firstRow.MaxSource}",
										"type": "Expression"
									}
								},
								"TableName": {
									"value": {
										"value": "orders",
										"type": "Expression"
									}
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_sql",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Customer Full Load Data",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Updating WaterMark",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table [MAIN].[Customers]",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_sql",
								"type": "DatasetReference",
								"parameters": {
									"schemaname": {
										"value": "dbo",
										"type": "Expression"
									},
									"tablename": {
										"value": "Customers",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sql",
								"type": "DatasetReference",
								"parameters": {
									"schemaname": {
										"value": "MAIN",
										"type": "Expression"
									},
									"tablename": {
										"value": "Customers",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Log Audit Success Details",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "DATA Movement",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AUDIT].[UPDATE_AUDIT_INFO]",
							"storedProcedureParameters": {
								"ENDTIME": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"JOBNAME": {
									"value": "DeltaForSQLtoSQL",
									"type": "String"
								},
								"SOURCE_COUNT": {
									"value": {
										"value": "@activity('DATA Movement').output.rowsRead",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"SOURCE_DATAPATH": {
									"value": {
										"value": "SQL_DBO_ORDERTABLE",
										"type": "Expression"
									},
									"type": "String"
								},
								"STARTTIME": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"TARGET_COUNT": {
									"value": {
										"value": "@activity('DATA Movement').output.rowsCopied",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"TARGET_DATAPATH": {
									"value": {
										"value": "ORDERTABLE",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_sql",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Log Audit_Fail",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "DATA Movement",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AUDIT].[UPDATE_AUDIT_INFO]",
							"storedProcedureParameters": {
								"ENDTIME": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"JOBNAME": {
									"value": "MovingDataFromCSVTOSQL",
									"type": "String"
								},
								"SOURCE_COUNT": {
									"value": {
										"value": "NA",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"SOURCE_DATAPATH": {
									"value": {
										"value": "stg1container_INPUT_DATAFILES_Persons",
										"type": "Expression"
									},
									"type": "String"
								},
								"STARTTIME": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"TARGET_COUNT": {
									"value": {
										"value": "NA",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"TARGET_DATAPATH": {
									"value": "STG_PERSONS",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_sql",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Data_Movement_Daily_Sales",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Log Audit Success Details_Customer",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MAIN].[LOAD_DailySales]"
						},
						"linkedServiceName": {
							"referenceName": "ls_sql",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Log Audit Success Details_Customer",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Customer Full Load Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AUDIT].[UPDATE_AUDIT_INFO]",
							"storedProcedureParameters": {
								"ENDTIME": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"JOBNAME": {
									"value": "CustomerFullLoad",
									"type": "String"
								},
								"SOURCE_COUNT": {
									"value": {
										"value": "@activity('Customer Full Load Data').output.rowsRead",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"SOURCE_DATAPATH": {
									"value": {
										"value": "stg1container_INPUT_DATAFILES_Persons",
										"type": "Expression"
									},
									"type": "String"
								},
								"STARTTIME": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"TARGET_COUNT": {
									"value": {
										"value": "@activity('Customer Full Load Data').output.rowsCopied",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"TARGET_DATAPATH": {
									"value": "XYZ",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_sql",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Log Audit_Fail_Customer",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Customer Full Load Data",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AUDIT].[UPDATE_AUDIT_INFO]",
							"storedProcedureParameters": {
								"ENDTIME": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"JOBNAME": {
									"value": "CustomerFullLoad",
									"type": "String"
								},
								"SOURCE_COUNT": {
									"value": {
										"value": "NA",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"SOURCE_DATAPATH": {
									"value": {
										"value": "XYZ",
										"type": "Expression"
									},
									"type": "String"
								},
								"STARTTIME": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"TARGET_COUNT": {
									"value": {
										"value": "NA",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"TARGET_DATAPATH": {
									"value": "ABC",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_sql",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_sql')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_sql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_web_activity')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-83.eastus.logic.azure.com:443/workflows/1a6fc1ffcd6c46b3b5449c66298ad26b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=ZTsOiJbl9_n8CbCkpxJKuRXEOG052kbxnOoyyyNLauE",
							"method": "GET",
							"headers": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "DELTA_ACTIVITIES"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_ds_dept_table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_df_sql",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "DEPTNO",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DNAME",
						"type": "varchar"
					},
					{
						"name": "LOCATION",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "MAIN",
					"table": "DEPT"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_df_sql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_ds_emp_table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_df_sql",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ENO",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ENAME",
						"type": "varchar"
					},
					{
						"name": "JOB",
						"type": "varchar"
					},
					{
						"name": "COMPID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DOJ",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "SAL",
						"type": "int",
						"precision": 10
					},
					{
						"name": "COMM",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DEPTNO",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "MAIN",
					"table": "EMPLOYEE"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_df_sql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_ds_json')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_gen2_df",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "raw_data.json",
						"fileSystem": "json"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"raw_data": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"agebracket": {
										"type": "string"
									},
									"backupnotes": {
										"type": "string"
									},
									"contractedfromwhichpatientsuspected": {
										"type": "string"
									},
									"currentstatus": {
										"type": "string"
									},
									"dateannounced": {
										"type": "string"
									},
									"detectedcity": {
										"type": "string"
									},
									"detecteddistrict": {
										"type": "string"
									},
									"detectedstate": {
										"type": "string"
									},
									"estimatedonsetdate": {
										"type": "string"
									},
									"gender": {
										"type": "string"
									},
									"nationality": {
										"type": "string"
									},
									"notes": {
										"type": "string"
									},
									"patientnumber": {
										"type": "string"
									},
									"source1": {
										"type": "string"
									},
									"source2": {
										"type": "string"
									},
									"source3": {
										"type": "string"
									},
									"statecode": {
										"type": "string"
									},
									"statepatientnumber": {
										"type": "string"
									},
									"statuschangedate": {
										"type": "string"
									},
									"typeoftransmission": {
										"type": "string"
									}
								}
							}
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_gen2_df')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_ds_json_to_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_gen2_df",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "output",
						"fileSystem": "json"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_gen2_df')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Json_testing')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_gen2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "sample-json-file-download.json",
						"folderPath": "json_f",
						"fileSystem": "stg1container"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"returnReference": {
							"type": "string"
						},
						"orderReference": {
							"type": "string"
						},
						"customerId": {
							"type": "integer"
						},
						"timestamp": {
							"type": "string"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_gen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_binary')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_gen2_stgalceusraw1dev",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"containername": {
						"type": "string"
					},
					"foldername": {
						"type": "string"
					},
					"filename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().foldername",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().containername",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_gen2_stgalceusraw1dev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_df_delimited')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_gen2_df",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Persons.csv",
						"folderPath": "INPUT_DATAFILES",
						"fileSystem": "stg1container"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Index_NO",
						"type": "String"
					},
					{
						"name": "User_Id",
						"type": "String"
					},
					{
						"name": "First_Name",
						"type": "String"
					},
					{
						"name": "Last_Name",
						"type": "String"
					},
					{
						"name": "Sex",
						"type": "String"
					},
					{
						"name": "Email",
						"type": "String"
					},
					{
						"name": "Phone",
						"type": "String"
					},
					{
						"name": "Date_of_birth",
						"type": "String"
					},
					{
						"name": "Job_Title",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_gen2_df')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_df_deptno')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_df_sql",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "DEPTNO",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DNAME",
						"type": "varchar"
					},
					{
						"name": "LOCATION",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "MAIN",
					"table": "DEPT"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_df_sql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_df_sal')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_gen2_df",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "dept_sal",
						"fileSystem": "dataflow"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_gen2_df')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_df_sink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_gen2_df",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "dept_sal",
						"fileSystem": "dataflow"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_gen2_df')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_df_sql_emp')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_df_sql",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ENO",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ENAME",
						"type": "varchar"
					},
					{
						"name": "JOB",
						"type": "varchar"
					},
					{
						"name": "COMPID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DOJ",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "SAL",
						"type": "int",
						"precision": 10
					},
					{
						"name": "COMM",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DEPTNO",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "MAIN",
					"table": "EMPLOYEE"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_df_sql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_gen2_testing')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_gen2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "output",
						"fileSystem": "json"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_gen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_json')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_gen2",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"filename": {
						"type": "string"
					},
					"foldername": {
						"type": "string"
					},
					"containername": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().foldername",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().containername",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_gen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sql')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"schemaname": {
						"type": "string"
					},
					"tablename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().schemaname",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().tablename",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_stg_delimited')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_gen2_stgalceusraw1dev",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"containername": {
						"type": "string"
					},
					"foldername": {
						"type": "string"
					},
					"filename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().foldername",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().containername",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_gen2_stgalceusraw1dev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_testing')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_testing",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"continername": {
						"type": "string"
					},
					"foldername": {
						"type": "string"
					},
					"filename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().foldername",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().continername",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_testing')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_azure_key')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('ls_azure_key_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_databricks')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-2863949363038363.3.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('ls_databricks_accessToken')]"
					},
					"existingClusterId": "[parameters('ls_databricks_properties_typeProperties_existingClusterId')]"
				},
				"connectVia": {
					"referenceName": "shir-alc-eus-dev",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/shir-alc-eus-dev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_df_sql')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('ls_df_sql_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_gen2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_gen2_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ls_gen2_accountKey')]"
					}
				},
				"connectVia": {
					"referenceName": "shir-alc-eus-dev",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/shir-alc-eus-dev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_gen2_df')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_gen2_df_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ls_gen2_df_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_gen2_stgalceusraw1dev')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_gen2_stgalceusraw1dev_properties_typeProperties_url')]",
					"tenant": "[parameters('ls_gen2_stgalceusraw1dev_properties_typeProperties_tenant')]",
					"servicePrincipalId": "[parameters('ls_gen2_stgalceusraw1dev_properties_typeProperties_servicePrincipalId')]",
					"servicePrincipalCredentialType": "ServicePrincipalKey",
					"servicePrincipalCredential": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "ls_azure_key",
							"type": "LinkedServiceReference"
						},
						"secretName": "spn-value"
					}
				},
				"connectVia": {
					"referenceName": "shir-alc-eus-dev",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/shir-alc-eus-dev')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_azure_key')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_keyVALUT')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('ls_keyVALUT_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_sql')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('ls_sql_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_testing')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_testing_properties_typeProperties_url')]",
					"tenant": "[parameters('ls_testing_properties_typeProperties_tenant')]",
					"servicePrincipalId": "[parameters('ls_testing_properties_typeProperties_servicePrincipalId')]",
					"servicePrincipalCredentialType": "ServicePrincipalCert",
					"servicePrincipalCredential": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "ls_keyVALUT",
							"type": "LinkedServiceReference"
						},
						"secretName": "spnsecrect"
					}
				},
				"connectVia": {
					"referenceName": "shir-alc-eus-dev",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/shir-alc-eus-dev')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_keyVALUT')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/shir-alc-eus-dev')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow1')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_df_sql_emp",
								"type": "DatasetReference"
							},
							"name": "SourceEmployee"
						},
						{
							"dataset": {
								"referenceName": "ds_df_deptno",
								"type": "DatasetReference"
							},
							"name": "SourceDeptNo"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_df_sink",
								"type": "DatasetReference"
							},
							"name": "deptsimsal"
						}
					],
					"transformations": [
						{
							"name": "RenamedDeptNotoDDeptNo"
						},
						{
							"name": "join1"
						},
						{
							"name": "derivedColumn1"
						},
						{
							"name": "select1"
						},
						{
							"name": "aggregate1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          ENO as integer,",
						"          ENAME as string,",
						"          JOB as string,",
						"          COMPID as integer,",
						"          DOJ as timestamp,",
						"          SAL as integer,",
						"          COMM as integer,",
						"          DEPTNO as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> SourceEmployee",
						"source(output(",
						"          DEPTNO as integer,",
						"          DNAME as string,",
						"          LOCATION as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> SourceDeptNo",
						"SourceDeptNo select(mapColumn(",
						"          D_DEPTNO = DEPTNO,",
						"          DNAME,",
						"          LOCATION",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> RenamedDeptNotoDDeptNo",
						"SourceEmployee, RenamedDeptNotoDDeptNo join(DEPTNO == D_DEPTNO,",
						"     joinType:'outer',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     partitionBy('roundRobin', 2),",
						"     broadcast: 'auto')~> join1",
						"join1 derive(DEPTNO = coalesce(DEPTNO,D_DEPTNO)) ~> derivedColumn1",
						"derivedColumn1 select(mapColumn(",
						"          SAL,",
						"          DEPTNO",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1 aggregate(groupBy(DEPTNO),",
						"     SAL = sum(SAL)) ~> aggregate1",
						"aggregate1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 2,",
						"          DEPTNO",
						"     )) ~> deptsimsal"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_df_sql_emp')]",
				"[concat(variables('factoryId'), '/datasets/ds_df_deptno')]",
				"[concat(variables('factoryId'), '/datasets/ds_df_sink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow3')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "df_ds_json",
								"type": "DatasetReference"
							},
							"name": "djsondata"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "df_ds_json_to_csv",
								"type": "DatasetReference"
							},
							"name": "datatoscsvortable"
						}
					],
					"transformations": [
						{
							"name": "flattenjsondata"
						}
					],
					"scriptLines": [
						"source(output(",
						"          raw_data as (agebracket as string, backupnotes as string, contractedfromwhichpatientsuspected as string, currentstatus as string, dateannounced as string, detectedcity as string, detecteddistrict as string, detectedstate as string, estimatedonsetdate as string, gender as string, nationality as string, notes as string, patientnumber as string, source1 as string, source2 as string, source3 as string, statecode as string, statepatientnumber as string, statuschangedate as string, typeoftransmission as string)[]",
						"     ),",
						"     allowSchemaDrift: false,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     documentForm: 'singleDocument') ~> djsondata",
						"djsondata foldDown(unroll(raw_data, raw_data),",
						"     mapColumn(",
						"          age = raw_data.agebracket,",
						"          gender = raw_data.gender,",
						"          nationality = raw_data.nationality,",
						"          notes = raw_data.notes,",
						"          patientnumber = raw_data.patientnumber,",
						"          statecode = raw_data.statecode",
						"     ),",
						"     skipDuplicateMapInputs: false,",
						"     skipDuplicateMapOutputs: false) ~> flattenjsondata",
						"flattenjsondata sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> datatoscsvortable"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/df_ds_json')]",
				"[concat(variables('factoryId'), '/datasets/df_ds_json_to_csv')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/adfcdc1')]",
			"type": "Microsoft.DataFactory/factories/adfcdcs",
			"apiVersion": "2018-06-01",
			"properties": {
				"SourceConnectionsInfo": [
					{
						"SourceEntities": [
							{
								"name": "ODS.PERSONS",
								"properties": {
									"schema": [
										{
											"name": "Index_NO",
											"dataType": "long"
										},
										{
											"name": "User_Id",
											"dataType": "string"
										},
										{
											"name": "First_Name",
											"dataType": "string"
										},
										{
											"name": "Last_Name",
											"dataType": "string"
										},
										{
											"name": "Sex",
											"dataType": "string"
										},
										{
											"name": "Email",
											"dataType": "string"
										},
										{
											"name": "Phone",
											"dataType": "string"
										},
										{
											"name": "Date_of_birth",
											"dataType": "date"
										},
										{
											"name": "Job_Title",
											"dataType": "string"
										}
									],
									"dslConnectorProperties": [
										{
											"name": "format",
											"value": "table"
										},
										{
											"name": "store",
											"value": "sqlserver"
										},
										{
											"name": "schemaName",
											"value": "ODS"
										},
										{
											"name": "tableName",
											"value": "PERSONS"
										},
										{
											"name": "databaseType",
											"value": "databaseType"
										},
										{
											"name": "database",
											"value": "database"
										},
										{
											"name": "enableCdc",
											"value": true
										},
										{
											"name": "skipInitialLoad",
											"value": true
										},
										{
											"name": "waterMarkColumn",
											"value": "Date_of_birth"
										}
									]
								}
							}
						],
						"Connection": {
							"linkedService": {
								"referenceName": "ls_sql",
								"type": "LinkedServiceReference"
							},
							"linkedServiceType": "AzureSqlDatabase",
							"type": "linkedservicetype",
							"isInlineDataset": true
						}
					}
				],
				"TargetConnectionsInfo": [
					{
						"TargetEntities": [
							{
								"name": "MAIN.PERSONS",
								"properties": {
									"schema": [
										{
											"name": "Index_NO",
											"dataType": "long"
										},
										{
											"name": "User_Id",
											"dataType": "string"
										},
										{
											"name": "First_Name",
											"dataType": "string"
										},
										{
											"name": "Last_Name",
											"dataType": "string"
										},
										{
											"name": "Sex",
											"dataType": "string"
										},
										{
											"name": "Email",
											"dataType": "string"
										},
										{
											"name": "Phone",
											"dataType": "string"
										},
										{
											"name": "Date_of_birth",
											"dataType": "date"
										},
										{
											"name": "Job_Title",
											"dataType": "string"
										},
										{
											"name": "updatedtime",
											"dataType": "timestamp"
										}
									],
									"dslConnectorProperties": [
										{
											"name": "format",
											"value": "table"
										},
										{
											"name": "store",
											"value": "sqlserver"
										},
										{
											"name": "schemaName",
											"value": "MAIN"
										},
										{
											"name": "tableName",
											"value": "PERSONS"
										},
										{
											"name": "databaseType",
											"value": "databaseType"
										},
										{
											"name": "database",
											"value": "database"
										},
										{
											"name": "deletable",
											"value": false
										},
										{
											"name": "insertable",
											"value": true
										},
										{
											"name": "updateable",
											"value": false
										},
										{
											"name": "upsertable",
											"value": false
										},
										{
											"name": "skipDuplicateMapInputs",
											"value": true
										},
										{
											"name": "skipDuplicateMapOutputs",
											"value": true
										}
									]
								}
							}
						],
						"Connection": {
							"linkedService": {
								"referenceName": "ls_sql",
								"type": "LinkedServiceReference"
							},
							"linkedServiceType": "AzureSqlDatabase",
							"type": "linkedservicetype",
							"isInlineDataset": true
						},
						"DataMapperMappings": [
							{
								"targetEntityName": "MAIN.PERSONS",
								"sourceEntityName": "ODS.PERSONS",
								"sourceConnectionReference": {
									"connectionName": "ls_sql",
									"type": "linkedservicetype"
								},
								"attributeMappingInfo": {
									"attributeMappings": [
										{
											"name": "Date_of_birth",
											"type": "Direct",
											"functionName": "",
											"attributeReference": {
												"name": "Date_of_birth",
												"entity": "ODS.PERSONS",
												"entityConnectionReference": {
													"connectionName": "ls_sql",
													"type": "linkedservicetype"
												}
											}
										},
										{
											"name": "Email",
											"type": "Direct",
											"functionName": "",
											"attributeReference": {
												"name": "Email",
												"entity": "ODS.PERSONS",
												"entityConnectionReference": {
													"connectionName": "ls_sql",
													"type": "linkedservicetype"
												}
											}
										},
										{
											"name": "First_Name",
											"type": "Direct",
											"functionName": "",
											"attributeReference": {
												"name": "First_Name",
												"entity": "ODS.PERSONS",
												"entityConnectionReference": {
													"connectionName": "ls_sql",
													"type": "linkedservicetype"
												}
											}
										},
										{
											"name": "Index_NO",
											"type": "Direct",
											"functionName": "",
											"attributeReference": {
												"name": "Index_NO",
												"entity": "ODS.PERSONS",
												"entityConnectionReference": {
													"connectionName": "ls_sql",
													"type": "linkedservicetype"
												}
											}
										},
										{
											"name": "Job_Title",
											"type": "Direct",
											"functionName": "",
											"attributeReference": {
												"name": "Job_Title",
												"entity": "ODS.PERSONS",
												"entityConnectionReference": {
													"connectionName": "ls_sql",
													"type": "linkedservicetype"
												}
											}
										},
										{
											"name": "Last_Name",
											"type": "Direct",
											"functionName": "",
											"attributeReference": {
												"name": "Last_Name",
												"entity": "ODS.PERSONS",
												"entityConnectionReference": {
													"connectionName": "ls_sql",
													"type": "linkedservicetype"
												}
											}
										},
										{
											"name": "Phone",
											"type": "Direct",
											"functionName": "",
											"attributeReference": {
												"name": "Phone",
												"entity": "ODS.PERSONS",
												"entityConnectionReference": {
													"connectionName": "ls_sql",
													"type": "linkedservicetype"
												}
											}
										},
										{
											"name": "Sex",
											"type": "Direct",
											"functionName": "",
											"attributeReference": {
												"name": "Sex",
												"entity": "ODS.PERSONS",
												"entityConnectionReference": {
													"connectionName": "ls_sql",
													"type": "linkedservicetype"
												}
											}
										},
										{
											"name": "updatedtime",
											"type": "Direct",
											"functionName": "",
											"attributeReference": {
												"name": "Date_of_birth",
												"entity": "ODS.PERSONS",
												"entityConnectionReference": {
													"connectionName": "ls_sql",
													"type": "linkedservicetype"
												}
											}
										},
										{
											"name": "User_Id",
											"type": "Direct",
											"functionName": "",
											"attributeReference": {
												"name": "User_Id",
												"entity": "ODS.PERSONS",
												"entityConnectionReference": {
													"connectionName": "ls_sql",
													"type": "linkedservicetype"
												}
											}
										}
									]
								}
							}
						],
						"Relationships": []
					}
				],
				"Policy": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 15
					},
					"mode": "Microbatch"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/blob_automated_mail')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Email Success Alert",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "https://prod-85.eastus.logic.azure.com:443/workflows/eea8a6fa6d9b489c80c16da99657979f/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=TG8sxcM1-vWRWV6XSSG18xQ8ca3iNhqQ5uueyOOyqb0",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {},
							"body": {
								"value": "{\"TO\":  \"ravikumar.bakka@gmail.com\",\n\"Body\":  \"Incremental Order dataq and Full Customer datamovenet is done\",\n\"SUBJECT\":  \"Customer and Order Data Movement is Successfull\"\n}",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/blob_created')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "blob_automated_mail",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/stg1container/blobs/INPUT_DATAFILES/Reject_NEW/",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('blob_created_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/blob_automated_mail')]"
			]
		}
	]
}