pipeline/pl_project1.json
{
	"name": "pl_project1",
	"properties": {
		"activities": [
			{
				"name": "Lookup_Source",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT max([InsertDateTime]) as MaxSource\n  FROM [dbo].[orders]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql",
						"type": "DatasetReference",
						"parameters": {
							"schemaname": {
								"value": "NA",
								"type": "Expression"
							},
							"tablename": {
								"value": "NA",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Lookup_Target",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT max(LastReadDateandTime) as MaxTarget\n  FROM [META].[Watermark] where TableName='orders'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql",
						"type": "DatasetReference",
						"parameters": {
							"schemaname": {
								"value": "NA",
								"type": "Expression"
							},
							"tablename": {
								"value": "NA",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "DATA Movement",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup_Source",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Lookup_Target",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT OrderID,ProductID,CustomerID,UnitPrice,Quantity,InsertDateTime FROM dbo.Orders\nWHERE\nInsertDateTime>'@{activity('Lookup_Source').output.value}'\nAND\nInsertDateTime<='@{activity('Lookup_Target').output}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_sql",
						"type": "DatasetReference",
						"parameters": {
							"schemaname": {
								"value": "dbo",
								"type": "Expression"
							},
							"tablename": {
								"value": "orders",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_sql",
						"type": "DatasetReference",
						"parameters": {
							"schemaname": {
								"value": "MAIN",
								"type": "Expression"
							},
							"tablename": {
								"value": "orders",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"annotations": []
	}
}